.header {
  opacity: 1;
  transition: all .5s ease-in-out;

  &__title,
  &__subtitle {
    color: $white;
    font-family: $default-font;
    font-weight: $font--light;
  }

  &__title {
    font-size: rem(52);
    margin-bottom: rem(10);
  }

  &__subtitle {
    font-size: rem(18);
    margin-bottom: rem(30);
    font-weight: $font--light;
  }

  &__form {
    position: relative;
  }

  &__input {
    width: 100%;
    outline: none;
    background-color: transparent;
    border: 1px solid $white;
    padding: rem(10) rem(15);
    box-sizing: border-box;
    font-family: $default-font;
    font-weight: $font--light;
    color: $white;
    border-radius: rem(16);

    &::placeholder {
      color: $white;
    }
  }

  &__icon {
    position: absolute;
    color: $white;
    top: rem(13);
    right: rem(20);

    &--error {
      color: $red;
    }
  }

  &--hidden {
    opacity: 0;
    transform: translateY(-70px);
  }
}


@media(min-width: 760px) {
  .header {
    &__title {
      font-size: rem(71);
      margin-bottom: rem(10);
    }

    &__subtitle {
      margin-bottom: rem(40);
    }

    &__form {
      max-width: rem(400);
    }

    &__input {
      font-size: rem(15);
    }
  }
}

@media(min-width: 1200px) {
  .header {
    &__title {
      font-size: rem(92);
    }

    &__subtitle {
      font-size: rem(22);
      margin-bottom: rem(50);
    }

    &__form {
      max-width: rem(500);
    }

    &__input {
      font-size: rem(16);
    }

    &__icon {
      top: rem(15);
    }
  }
}
