.header {
  opacity: 1;
  transition: all .5s ease-in-out;
  position: relative;

  &__title,
  &__subtitle {
    color: #fff;
    font-family: $default-font;
    font-weight: $font--light;
  }

  &__title {
    font-size: 52px;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 300;
  }

  &__form {
    position: relative;
  }

  &__input {
    width: 100%;
    outline: none;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px 15px;
    box-sizing: border-box;
    font-family: $default-font;
    font-weight: $font--light;
    color: #fff;
    border-radius: 16px;

    &::placeholder {
      color: #fff;
    }
  }

  &__icon {
    position: absolute;
    color: #fff;
    top: 13px;
    right: 20px;
  }

  &--hidden {
    opacity: 0;
    transform: translateY(-70px);
  }
}


@media(min-width: 760px) {
  .header {
    &__title {
      font-size: 71px;
      margin-bottom: 10px;
    }

    &__subtitle {
      margin-bottom: 40px;
    }

    &__form {
      max-width: 400px;
    }
  }
}

@media(min-width: 1200px) {
  .header {
    &__title {
      font-size: 92px;
    }

    &__subtitle {
      font-size: 22px;
      margin-bottom: 50px;
    }

    &__form {
      max-width: 500px;
    }
  }
}
